.button-action {
    background-color: #646cff;
    color: white;
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        align-self: stretch;
    transition: all 0.15s ease-in-out;
}

.button-action:hover {
    background-color: white;
    color: black;
}

.button-action_new {
    background-color: transparent;
    border: 1px dashed #f3f3f3;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.button-action:disabled {
    pointer-events: none;
    /* background-color: #f3f3f3;
    color: #646cff; */
    /* background-color: #888;
    color: #f3f3f3; */
    background-color: #2C2A28;
    color: #888;
    cursor: not-allowed;
}

.button-action_svg {
    padding: 0;
    /* background-color: #646cff; */
    /* color: #f3f3f3; */
    /* border: 1px solid #646cff; */
    /* border-color: #646cff; */
    /* transition: color 0.15s ease-in-out; */
    aspect-ratio: 1 / 1;
    /* min-width: 30px;
    min-height: 30px; */
    width: 30px;
    height: 30px;

    /* border: 1px solid #f3f3f3; */
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-in-out;
}

.button-action_svg:hover {
    background-color: #f3f3f3;
    color: #646cff;
    border-color: #f3f3f3;
}

.button-action_edit {
    background-color: #646cff;
    color: #f3f3f3;
    border: 1px solid #646cff;
    border-color: #646cff;
}

.button-action_delete {
    color: #f3f3f3;
    background-color: #eb3023;
}

.button-action_delete:hover {
    color: #f64235;
}

.action-button__popup {
    margin: auto 0 0 0;
}