.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 0 auto; */
    margin: 0 0 30px 0;
    /* color: #888; */
    width: fit-content;
    /* background-color: #151618; */
    background-color: #242328;
        /* background-color: #2C2A28; */
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 9px;
    flex-wrap: wrap;
        justify-content: flex-start;
}

.breadcrumbs li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumbs li:last-of-type {
    color: white;
}

.breadcrumbs li:last-of-type svg {
    display: none;
}

@media screen and (max-width: 767px) {
    .breadcrumbs {
        padding: 10px;
        font-size: 14px;
        width: 100%;
        /* justify-content: space-between; */
    }
}