.form_chat {
    background-color: #1a1a1a;
}

.form_chat__input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    font-size: 16px;
    caret-color: #888;
    color: white;
}

.form_chat input[type="file"] {
    display: none;
}

.form_chat button {
    background-color: transparent;
    color: white;
    font-size: 18px;
}

.form_chat__file {
    width: 100%;
}

.popup_file__wrapper {
    max-width: 540px;
}