.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

/* @media screen and (max-width: 1439px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1279px) {
    .container {
        max-width: 768px;

    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 540px;
    }
} */