/* .header {
    display: flex
    ;
        justify-content: space-between;
        align-items: center;
} */

.header__content {
    display: flex
    ;
        justify-content: space-between;
        align-items: center;
}

.header__left-wrapper {
    display: flex;
        gap: 15px;
        align-items: center;
        width: 100%;
        max-width: 460px;
        /* max-width: 360px; */
}

.header__search {
    display: flex;
        align-items: center;
        gap: 15px;
        box-sizing: border-box;
        padding: 3px 10px;
        border: 1px solid white;
        border-radius: 7px;
        width: 100%;
}

.header__search input {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    caret-color: white;
    font-size: 18px;
    box-sizing: border-box;
    padding: 5px 0;
    font-weight: 400;
}

.header__right-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.header__notif-wrapper {
    position: relative;
    min-width: 35px;
    display: flex
;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.header__notif-wrapper svg {
    font-size: 20px;
}

.header__notif-wrapper span {
    position: absolute;
    top: 0px;
    right: 0;
    aspect-ratio: 1 / 1;
    min-width: 18px;
    background-color: #646cff;
    border-radius: 50%;
    line-height: 1;
}

.header a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.header__user-wrapper {
    display: grid;
    text-align: left;
}

.header__user-wrapper-email {
    font-size: 12px;
    color: #d6d7d7;
}