.header {
    display: flex
    ;
        justify-content: space-between;
        align-items: center;
}

.header__logo {
    max-width: 25px;
}

.header__search {
    display: flex;
        align-items: center;
        gap: 15px;
        box-sizing: border-box;
        padding: 3px 10px;
        border: 1px solid white;
        border-radius: 7px;
        width: 100%;
        max-width: 320px;
}

.header__search input {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    caret-color: white;
    font-size: 18px;
    box-sizing: border-box;
    padding: 5px 0;
    font-weight: 400;
}

.header a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.header__user-wrapper {
    display: grid;
    text-align: left;
}

.header__user-wrapper-email {
    font-size: 12px;
    color: #d6d7d7;
}