.lesson-title {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.lesson__content {
    box-sizing: border-box;
    /* padding: 30px; */
    text-align: left;
    /* background-color: #151618; */
    border-radius: 12px;
    /* max-width: 900px; */
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

.lesson__content img, .lesson__content video {
    width: 100%;
    aspect-ratio: 16/10;
    object-fit: contain;
    background-color: #151618;
    /* background-color: #242328; */
    border-radius: 9px;
    box-sizing: border-box;
    padding: 10px;
}

.lesson__chat-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: fit-content;
    margin: 0 0 0 auto;
    background-color: #646cff;

    font-size: 14px;
}

.lesson__content-buttons {
    max-width: 700px;
        margin: 30px auto 0;
        width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lesson__content-buttons-navigation {
    /* display: flex; */
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.lesson__content-buttons-navigation-button {
    color: white;
    /* background-color: #1a1a1a; */
    /* background-color: #242328; */
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    /* .lesson__content {
        max-width: 720px;
    } */
}

@media screen and (max-width: 1023px) {
    /* .lesson__content {
        max-width: 600px;
    } */
}

@media screen and (max-width: 767px) {
    .lesson__content-buttons {
        flex-direction: column;
        gap: 15px;
        font-size: 14px;
    }
    .lesson__content-buttons-navigation {
        width: 100%;
        justify-content: space-between;
        /* flex-direction: column; */
    }
}