.lesson {
    /* height: 100svh; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    position: relative;
    overflow: auto;
    gap: 30px;
    box-sizing: border-box;
    padding: 50px 0;
    /* max-height: calc(100svh - 85px);
    overflow: auto; */
}

.lesson__content {
    box-sizing: border-box;
    padding: 30px;
    text-align: left;
    background-color: #151618;
    border-radius: 12px;
    max-width: 900px;
    margin: 0 auto;
}

.lesson__content img {
    width: 100%;
}

.lesson__chat-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: fit-content;
    margin: 0 0 0 auto;
    /* background-color: #646cff; */
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

@media screen and (max-width: 1279px) {
    .lesson__content {
        max-width: 720px;
    }
}

@media screen and (max-width: 1023px) {
    .lesson__content {
        max-width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .lesson__content {
        max-width: 360px;
    }
}