.lesson {
    /* min-height: 70svh; */
    height: 100svh;
    display: grid
;
    grid-template-columns: 1fr;
    align-items: flex-start;
    position: relative;
    overflow: auto;
    gap: 30px;
    box-sizing: border-box;
    padding: 50px 0;
}

