.profile-statistics {
    background-color: #151618;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 10px;
    min-height: 210px;
    /* min-width: 360px;
    border: 1px solid white; */
}

@media screen and (max-width: 767px) {
    .profile-statistics {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .profile-statistics {
        min-width: 0;
    }
}