.button-row {
    width: 100%;
    background-color: transparent;
    /* border: none; */
    /* border-bottom: 1px solid #888;
    border-radius: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* padding: 20px 40px; */
    /* padding: 20px 0px; */
    /* padding: 20px 10px; */
    font-size: 18px;
    /* color: white; */
    outline: none;
    border: none;
    /* color: white; */
    color: #888;
    pointer-events: all;
    border-radius: 0;
    padding: 0;
}

.button-row:disabled {
    pointer-events: none;
    color: #888;
    /* background-color: red; */
}

.button-row:focus {
    outline: none;
}

.button-row:hover {
    color: white;
    border-color: white;
    background-color: transparent
    /* background-color: #646cff;
    color: white; */
}

/* .button-row_active {
    color: white;
} */

.button-row__title-wrapper {
    display: flex
;
    gap: 30px;
}

.button-row__index {
    min-width: 30px;
}

.button-row__svg-wrapper {
    font-size: 14px;
    display: flex
;
    align-items: center;
    gap: 30px;
}

.button-row__svg-wrapper svg {
    min-width: 13px;
}