.table-article {
    /* background-color: #151618; */
    box-sizing: border-box;
    /* padding: 10px; */
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: #151618;
    /* background-color: #242328; */
    /* padding: 30px 15px; */
    padding: 20px 15px;
    /* display: grid;
    grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    text-align: left;
}