.welcome {
    max-width: 360px;
    /* background-color: #2C2A28; */
}

.welcome h1, .welcome p {
    margin: 0;
}

.welcome__form {
    display: grid;
    grid-template-columns: 1fr;
    min-width: 360px;
    gap: 15px;
    margin: 10px 0 0 0;
}

.welcome__form input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
}