.welcome {
    max-width: 390px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    /* min-height: 100svh; */
    padding: 15px;
    /* background-color: #2C2A28; */
}

.welcome h1, .welcome p {
    margin: 0;
}

.welcome__span-mode {
    width: fit-content;
    display: flex;
    gap: 5px;
    margin: 0 auto;
}

.welcome__mode-btn {
    width: fit-content;
    box-sizing: border-box;
    padding: 0;
    background-color: transparent;
    color: #646cff;
}

.welcome__mode-btn:hover {
    background-color: transparent;
}

.welcome form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    /* min-width: 360px; */
    gap: 15px;
    /* margin: 10px 0 0 0; */
}

.welcome__form input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    caret-color: white;
}

@media screen and (max-width: 767px) {
    .welcome__span-mode {
        flex-direction: column;
    }
}